
# Pandas exercises
Authors:  Natanael Moura Junior (natanael.junior@mjv.com.br) <br>
          Carlos Eduardo Covas Costa (carlos.costa@mjv.com.br) <br>
          Yuri Santa Rosa Nassar dos Santos (yuri.santos@mjv.com.br) 


<img align="center" width="200" src="https://raw.githubusercontent.com/natmourajr/data/main/mjv-tecnologia.png?raw=1">

In this exercise, you will receive some false data about some purchases made by Amazon. Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to consult the previous materials or the internet to clear your doubts. Most tasks can be solved in different ways. Do not worry if the data does not seem to make sense. These are synthetic data for didactic purposes. Finally, note that all these questions can be answered with one line of code.
____
**Import pandas and read the "Ecommerce Purchases" csv file from the link and set it to a DataFrame called `ecom`.**

adjective
intended to teach, particularly in having moral instruction as an ulterior motive.
"a didactic novel that set out to expose social injustice"
Similar:
instructive
instructional
educational
educative
informative
informational
doctrinal
preceptive
teaching
pedagogic
academic
scholastic
tuitional
edifying
improving
enlightening
illuminating
heuristic
pedantic
moralistic
homiletic
propaedeutic
in the manner of a teacher, particularly so as to treat someone in a patronizing way.
"slow-paced, didactic lecturing"

In [1]:
import pandas as pd

In [2]:
ecom = pd.read_csv('https://raw.githubusercontent.com/daveaditya/udemy-ds-ml-bootcamp/master/04-Pandas-Exercises/Ecommerce%20Purchases',sep=',')

**Use the `ecom` dataframe to answer questions 1 until 13.**

**Question 1** - Check the head of the DataFrame.

In [ ]:
ecom.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

**Question 2** - How many rows and columns are there?

In [ ]:
ecom.shape

(10000, 14)

**Question 3** - What is the average Purchase Price?

In [ ]:
ecom.info()
print('\n\nAverage Price')
ecom['Purchase Price'].mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB


Average Price

50.34730200000025

**Question 4** - What were the `highest` and `lowest` purchase prices?

In [ ]:
print('Highest Price')
ecom['Purchase Price'].max()

Highest Price

99.99

In [ ]:
print('Highest Price')
ecom['Purchase Price'].min()

Highest Price

0.0

**Question 5** - How many people have English `'en'` as their Language of choice on the website?

In [ ]:
#Type your code here
ecom['Language'].value_counts()['en']

1098

In [ ]:
#Another way - 2
(ecom['Language'] == 'en').sum()

1098

**Question 6** - How many people have the job title of "Lawyer" ?

In [ ]:
(ecom['Job'] == 'Lawyer').sum()

30

**Question 7** -How many people made the purchase during the AM and how many people made the purchase during PM ?

(**Hint: Check out** [value_counts ()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html))

In [ ]:
print('AM count:', ecom['AM or PM'].value_counts()['AM'])
print('PM count:', ecom['AM or PM'].value_counts()['PM'])

AM count: 4932
PM count: 5068

**Question 8** - What are the 5 most common Job Titles?
<br>(Hint: continue using value_counts())

In [ ]:
#Type your code here
ecom.groupby(by='Job')["Job"].count().nlargest(5)

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

In [ ]:
ecom['Job'].value_counts().nlargest(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

**Question 9** - Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [ ]:
ecom.loc[ecom['Lot'] == '90 WT', 'Purchase Price'].iloc[0]

75.1

**Question 10** - What is the email of the person with the following Credit Card Number: 4926535242672853?

In [ ]:
ecom.loc[ecom['Credit Card'] == 4926535242672853, 'Email'].iloc[0]

'bondellen@williams-garza.com'

**Question 11** - How many people have American Express as their Credit Card Provider and made a purchase above $95 ?

In [ ]:
ecom['Company'][(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count()

39

**Question 12 (challenge)** How many people have a credit card that expires in 2025?

**Comment**: Using value_counts will group and count how many times a unique key appears. The value_counts() return a pandas series, so you are accessing the 25th position in this series. However, if you check the value_counts series, you will see other months in 2025. Therefore, you are missing other data, and you need to sum up these ones too. One way to get this is by using a boolean mask and then summing up the values. True counts as 1 and False as 0. Thus, you can use this code for instance:

In [6]:
print('We have ',(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25').sum(),
      ' clients that have credit cards that expires in 2025.')

We have  1033  clients that have credit cards that expires in 2025.

In [ ]:
ecom['CC Exp Date'].value_counts()[25]

91

**Question 13 (challenge)** What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)?

In [ ]:
ecom[['Email Head', 'Email Tail']] = ecom['Email'].str.split('@', expand=True)
ecom[['Email Head', 'Email Tail']] 
ecom.groupby(by='Email Tail')["Email Tail"].count().nlargest(5)

Email Tail
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email Tail, dtype: int64

**Part 2**<br>
Let's exercise when the dataframe has missing values. We will work with another dataset to train this skill. So, please, execute the code to import the dataset.<br>
We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

In [8]:
# Importing the dataset as a CSV file
df_sf = pd.read_csv('https://raw.githubusercontent.com/daveaditya/udemy-ds-ml-bootcamp/master/04-Pandas-Exercises/Salaries.csv')

**Use the `df_sf` dataframe to answer questions 14 until 22.**

**Question 14** - Show the number of missing values per attribute on a percent scale. Which stratagy could you apply to clean this dataset and Why do you use it.

In [9]:
sf_null_count = df_sf.isnull().sum()
# print(sf_null_count)
sf_total_count = len(df_sf)
# print(sf_total_count)
print(sf_null_count/sf_total_count)

Id                  0.000000
EmployeeName        0.000000
JobTitle            0.000000
BasePay             0.004097
OvertimePay         0.000027
OtherPay            0.000027
Benefits            0.243270
TotalPay            0.000000
TotalPayBenefits    0.000000
Year                0.000000
Notes               1.000000
Agency              0.000000
Status              1.000000
dtype: float64

I would use the dropna method to drop columns that have no values present. Using set inplace = True to drop all missing values from your original dataset.

**Question 15** - Drop the attributes that do not have any value in the dataframe.

In [10]:
df_sf.dropna(axis=1, how='all', inplace=True)
df_sf.isna().sum()

Id                      0
EmployeeName            0
JobTitle                0
BasePay               609
OvertimePay             4
OtherPay                4
Benefits            36163
TotalPay                0
TotalPayBenefits        0
Year                    0
Agency                  0
dtype: int64

**Question 16** - For the remaining data use the panda's function to fill the missing values.

In [11]:
df_sf.fillna(method='ffill',axis=0, inplace=True)
df_sf.isna().sum()
df_sf.fillna(method='bfill',axis=0, inplace=True)
df_sf.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
dtype: int64

**Question 17** - What is the average BasePay ?

In [ ]:
'{:.2f}'.format(df_sf['BasePay'].mean())

'66087.25'

**Question 18** - What is the highest amount of OvertimePay in the dataset ?

In [ ]:
'{:.2f}'.format(df_sf['OvertimePay'].max())

'245131.88'

**Question 19**(Challange) - What was the average (mean) of all employees per year? (2011-2014)<br>
**Hint:** [Group by method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

In [12]:
display(df_sf.groupby(by='Year')['EmployeeName'].count())
print('\n','Employee Mean: ', df_sf.groupby(by='Year')['EmployeeName'].count().mean())

Year
2011    36159
2012    36766
2013    37606
2014    38123
Name: EmployeeName, dtype: int64

 Employee Mean:  37163.5

**Question 20** - Regarding the groupBy of **question 19**, how can you show only the **BasePay** attribute?

**Comment**: Sorry if you were clear about the asking. In this question, we would like that you show the mean values of the groupBy for the column BasePay. For example:

In [14]:
df_sf.groupby(by=['Year']).mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    68642.343616
2014    66557.437750
Name: BasePay, dtype: float64

In [ ]:
#?? Not sure what the question is asking
display(df_sf.groupby(['Year'])['BasePay'].describe(include='all'))

        count          mean           std  ...        50%         75%        max
Year                                       ...
2011  36159.0  63595.956517  40556.774993  ...  62871.720  90649.7650  294580.02
2012  36766.0  65436.406857  41782.209797  ...  64017.370  92427.9275  302578.00
2013  37606.0  68642.343616  44571.897104  ...  67136.435  97218.9775  319275.01
2014  38123.0  66557.437750  44056.748734  ...  65055.000  94731.0150  318835.49

[4 rows x 8 columns]

**Question 21**(Challenge) - How many people have the word Chief in their job title? (This is pretty tricky)
<br>
**Hint:**<br> 1) define a function to check the series of the attribute column;<br>2) Use the apply method with the lambda to call your defined function to get the sum. [apply method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

In [24]:
def chief_in_title(df, column, pattern):
  result = df[column].str.contains(pat = pattern).value_counts()
  return result
   
chief_in_title(df_sf, 'JobTitle', 'Chief')

False    148231
True        423
Name: JobTitle, dtype: int64

In [25]:
chief_in_title = lambda x: df_sf['JobTitle'].str.contains(pat = 'Chief').value_counts()
df_sf.apply(chief_in_title)['JobTitle']

False    148231
True        423
Name: JobTitle, dtype: int64

**Question 22**(Challenge) - Show the dataframe sorted by the emploee name from A to Z.<br>
**Hint:** [sort_values()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

In [ ]:
df_sf.sort_values(by='EmployeeName')

            Id           EmployeeName  ...  Year         Agency
29353    29354       A BERNARD FATOOH  ...  2011  San Francisco
102843  102844      A Bernard  Fatooh  ...  2013  San Francisco
66371    66372       A Bernard Fatooh  ...  2012  San Francisco
140525  140526       A Bernard Fatooh  ...  2014  San Francisco
28469    28470  A ELIZABETH MARCHASIN  ...  2011  San Francisco
...        ...                    ...  ...   ...            ...
134790  134791             Zuna T Luu  ...  2014  San Francisco
97363    97364             Zuna T Luu  ...  2013  San Francisco
93463    93464            Zuri  Jones  ...  2013  San Francisco
49185    49186             Zuri Jones  ...  2012  San Francisco
132614  132615             Zuri Jones  ...  2014  San Francisco

[148654 rows x 11 columns]

## **GREAT JOB!!!**